{% extends 'base.html' %}
{% load static %}

{{% block hole %}

    <div class="content">
		<div class="wid_con loginbox">
			<div class="password_con">
				<div class="text_box">
					<div>
						<div><i><img src="{% static 'images/icon01.png' %}"></i><input type="text" placeholder="请输入您的WangID号码">
							<span>*</span>
						</div>
						<div class="yzm">
							<i><img src="{% static 'images/icon03.png' %}"></i><input type="text" placeholder="请输入验证码">
							<label><img src="{%  static 'images/yzm.png' %}"></label><span>*</span>
						</div>
						<button>提 交</button>
					</div>
				</div>
			</div>
			<div class="password_txt">
				<div>
					<h1>温馨提示</h1>
					<p>提交找回密码后, 我们会将您的密码发送至您注册时所填写的邮箱，请您注意查看</p>
				</div>
				<h2>若想起密码，请点此<a href="{% url 'index' %}">登录</a></h2>
			</div>
		</div>
	</div>



{% endblock %}